@use "@/styles/mixins" as *;
.featuredOptions_wrapper {
  background: var(--secondary-bg-color);
  width: 100%;
  .featuredOptions_container {
    @include container;
    padding: 96px 0;
    hr {
      margin-bottom: 0;
    }
    .featuredOptions_heading {
      color: var(--primary-text-color);
      font-weight: 600;
      font-size: 48px;
      line-height: 54px;
    }
    .explore_fly_fishing {
      color: var(--primary-text-color);
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      @include flex-between;
    }
    .explore_fly_fishing_center {
      @include flex-gap(16px);
      .explore_fly_fishing_center_left_section {
      }
      .explore_fly_fishing_center_right_section {
        padding-top: 12px;
        @include flex-column;
        @include flex-gap(8px);
        div {
          font-weight: 600;
          font-size: 32px;
          line-height: 36px;
          color: var(--primary-text-color);
        }
        p {
          margin: 0;
          padding: 0;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: var(--secondary-text-color);
        }
        div {
          button {
            padding: 8px 12px;
            border: none;
            border-radius: 4px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: var(--primary-text-color);
            background-color: var(--button-secondary-bg-color);
          }
        }
      }
    }
  }
}
