:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f1ece1;
  --primary-text-color: #1c1812;
  --secondary-text-color: #65625e;
  --button-text-color: #f7f7f6;
  --button-primary-bg-color: #514432;
  --button-secondary-bg-color: #dfdedd;
  --footer-text-color: #aeadaa;
  --border-color: #969491;
  --secondary-border-color: #c6c5c3;
}
