@use "@/styles/mixins" as *;
.header_container {
  @include container;
  @include flex-between;
  color: var(--primary-text-color);
  padding: 12px;
  .header_left_section {
    @include flex-align-center;
    @include flex-gap(12px);
    font-family: "Gluten", cursive;
    font-size: 20px;
    font-weight: 400;
    .header_text_content {
      display: none;

      @include responsive(sm) {
        display: flex;
      }
    }
  }
  .header_right_section {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    @include flex-center;
    @include flex-gap(24px);
    a {
      display: inline-block;
      position: relative;
      font-size: 24px;
    }
    a:first-child::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 100%;
      height: 3px;
      background-color: var(--primary-text-color);
    }
    display: none;
    @include responsive(sm) {
      display: flex;
    }
  }
  .manu_bar {
    display: block;

    @include responsive(sm) {
      display: none;
    }
  }
  @include responsive(sm) {
    padding: 6px;
  }
}
